In [5]:
import pandas as pd
import pandas.io.data as wb
import matplotlib.pyplot as plt
% matplotlib inline
import numpy as np

/usr/local/opt/pyenv/versions/anaconda-2.4.0/lib/python2.7/site-packages/pandas/io/data.py:33: FutureWarning:
The pandas.io.data module is moved to a separate package (pandas-datareader) and will be removed from pandas in a future version.
After installing the pandas-datareader package (https://github.com/pydata/pandas-datareader), you can change the import ``from pandas.io import data, wb`` to ``from pandas_datareader import data, wb``.
  FutureWarning)

In [6]:
from datetime import datetime
start = datetime(1970,1,1)
end = datetime(2016,3,31)

data = wb.DataReader("^N225","yahoo",start,end)
data.head()
data.tail()

,Open,High,Low,Close,Volume,Adj Close
Date,,,,,,
2016-03-25,16949.529297,17026.140625,16889.400391,17002.750000,122700,17002.750000
2016-03-28,17129.269531,17167.880859,16961.410156,17134.369141,119800,17134.369141
2016-03-29,16985.279297,17137.199219,16948.429688,17103.529297,0,17103.529297
2016-03-30,17078.029297,17078.029297,16875.910156,16878.960938,127300,16878.960938
2016-03-31,16997.140625,17033.650391,16758.669922,16758.669922,152800,16758.669922

In [9]:
data_Adj = data["Adj Close"]
data_np = np.array(data_Adj)

In [10]:
print data_np

[  9927.         9947.         9961.       ...,  17103.529297  16878.960938
  16758.669922]

In [23]:
diff = np.array([])
for i in xrange(len(data_np)):
    if not i+1 == len(data_np):
        diff = np.append(diff,data_np[i+1]-data_np[i])
lyapunov = np.sum(np.ma.log(np.abs(diff)))/len(data_np)
print lyapunov

4.51544848719

In [24]:
data5 = data_np[::5]

In [27]:
diff = np.array([])
for i in xrange(len(data5)):
    if not i+1 == len(data5):
        diff = np.append(diff,data5[i+1]-data5[i])
lyapunov = np.sum(np.ma.log(np.abs(diff)))/len(data5)
print lyapunov

5.36653080689

In [ ]:
from math import log
 
def d(series,i,j):
    return abs(series[i]-series[j])
 
f=open('timeseries.txt', 'r')
series=[float(i) for i in f.read().split()]
f.close()
N=len(series)
eps=input('Initial diameter bound: ')
dlist=[[] for i in range(N)]
n=0 #number of nearby pairs found
for i in range(N):
    for j in range(i+1,N):
        if d(series,i,j) < eps:
            n+=1
            print n
            for k in range(min(N-i,N-j)):
                dlist[k].append(log(d(series,i+k,j+k)))
f=open('lyapunov.txt','w')
for i in range(len(dlist)):
    if len(dlist[i]):
        print>>f, i, sum(dlist[i])/len(dlist[i])
f.close()

In [4]:
import sys
sys.path

['',
 '/usr/local/opt/pyenv/versions/anaconda-2.4.0/lib/python27.zip',
 '/usr/local/opt/pyenv/versions/anaconda-2.4.0/lib/python2.7',
 '/usr/local/opt/pyenv/versions/anaconda-2.4.0/lib/python2.7/plat-darwin',
 '/usr/local/opt/pyenv/versions/anaconda-2.4.0/lib/python2.7/plat-mac',
 '/usr/local/opt/pyenv/versions/anaconda-2.4.0/lib/python2.7/plat-mac/lib-scriptpackages',
 '/usr/local/opt/pyenv/versions/anaconda-2.4.0/lib/python2.7/lib-tk',
 '/usr/local/opt/pyenv/versions/anaconda-2.4.0/lib/python2.7/lib-old',
 '/usr/local/opt/pyenv/versions/anaconda-2.4.0/lib/python2.7/lib-dynload',
 '/usr/local/Cellar/pyenv/20151124/versions/anaconda-2.4.0/lib/python2.7/site-packages/Sphinx-1.3.1-py2.7.egg',
 '/usr/local/Cellar/pyenv/20151124/versions/anaconda-2.4.0/lib/python2.7/site-packages/setuptools-18.4-py2.7.egg',
 '/usr/local/opt/pyenv/versions/anaconda-2.4.0/lib/python2.7/site-packages',
 '/usr/local/opt/pyenv/versions/anaconda-2.4.0/lib/python2.7/site-packages/aeosa',
 '/usr/local/opt/pyenv/versions/anaconda-2.4.0/lib/python2.7/site-packages/IPython/extensions',
 '/home/2829902373/.ipython']